/* Base styles for the entire document */
body,
html {
  scroll-behavior: smooth;
}

/* Link styles */
a {
  cursor: pointer;
  text-decoration: none;
  color: #b817dc;
}

section {
	animation: fade-out linear;
  animation-timeline: view();
	animation-range: exit; -200px;
}

@keyframes fade-out {
	to {opacity: 0;}
}



.scroll-watcher {
  height: 2px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #b817dc;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}


img.socialmedia {
  width: 35px;
  height: 35px;
  margin: 2em;
}

list-inline {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-social-github, .icon-social-instagram, .icon-social-linkedin {
  font-size: 1.2em;
  padding: 0.2em;
  color: black;
	transition: color 0.3s ease-in-out;
}
.icon-social-github:hover, .icon-social-instagram:hover, .icon-social-linkedin:hover {
  color: #b817dc;
}

.nav-item a.nav-link:hover {
  color: #b817dc !important;
}

.navbar-nav .nav-item a.nav-link:hover {
  color: #b817dc;
  transition: color 0.3s ease-in-out;
}


.navbar-brand {
  background-image: url("https://github.com/bobs83/portfolio-carrerfoundery/blob/gh-pages/src/pics/transparent-logo.png?raw=true");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.home-section {
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;

  animation: fade-out linear;
  animation-timeline: view();
	animation-range: exit; -200px;
}

@keyframes fade-out {
	to {opacity: 0;}
}

.hero-image {
  border-radius: 50%;
  width: 90%;
  height: 00%;
  object-fit: cover;
  margin: auto;
	transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, filter 0.5s ease-in-out;
	display: block;
	
}

.hero-image:hover {
  transform: scale(1.05);
  filter: brightness(1.2) drop-shadow(0 5px 15px rgba(0,0,0,0.3)); 
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.divider {
  border: none;
  height: 2px;
  width: 80%;
  background: linear-gradient(to right, #f0f0f0, #d3d3d3, #f0f0f0);
  margin: 2em auto;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* About section */

.about-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
	position: relative; 
	animation: bouncebounce 0.9s 1.5s infinite ease-in-out alternate;
	transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
  z-index: 1;

}
.about-image:hover {
	filter: drop-shadow(0 15px 15px rgba(173, 8, 210, 0.3)); /* Adds a round shadow */
}


/* Projects section */

.card {
  height: 100%;
}

.card-img-top {
  width: auto;
  height: 40vh;
  object-fit: cover;
  overflow: hidden;
}

.card-video-top {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  margin: auto;
}

.card-icon {
  width: 50px;
  height: 50px;
  margin: auto;
}

.card-icon:hover {
  transform: scale(1.1);
}

.card-icongif {
  width: 30px;
  height: 30px;
  margin: auto;
}

.card-title {
  font-size: 1.5em;
}
.card-text {
  font-size: 0.9em;
}
.card-subtitle {
  font-size: 1em;
}
.list-group {
  line-height: 1em;
  font-size: smaller;
  line-height: 0.8em;
}

.scroll-image {
  left: 100px;
  position: relative;
  height: 40px;
  width: 40px;
	margin-bottom: 1em;
  animation: fadeInMoveLeftFadeOut 10s ease-in-out infinite;
}

.Logo-bottom {
	position: relative; 
	width: 75px;
	animation: bouncebounce 0.9s 1.5s infinite ease-in-out alternate;
}

/* Mail animation  */

.mail-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	
}

.circle {
	border-radius: 50%;
	background-color: rgb(105, 24, 148);
	width: 200px;
	height: 200px;
	position: absolute;
	opacity: 0;
	animation: scaleIn 10s infinite cubic-bezier(.36, .11, .89, .32);

}

.mailitem {
	z-index: 100;
	padding: 5px;
}

/* .mailitem img {
	width: 200px;
}
.mailitem img:hover {
  transform: scale(1.1);
	transition: transform 0.3s ease-in-out;
} */

.mailitem img {
	width: 200px;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out, filter 1s ease-in-out;
  display: block; /* Ensures the image is block level for box-shadow to work properly */
	
}

.mailitem img:hover {
  transform: scale(1.1);
  filter: brightness(1.1) drop-shadow(0 5px 15px rgba(0,0,0,0.3)); /* Adds a round shadow */
	transform: rotate(180deg);
}




@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}


@keyframes bouncebounce {
	0% {
			bottom: -5px;
	}

	100% {
			bottom: 5px;
	}
}

@keyframes fadeInMoveRightFadeOut {
  0% {
    left: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40%,
  60% {
    left: 50%;
    opacity: 1;
  }
  80% {
    left: 80%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes fadeInMoveLeftFadeOut {
  0% {
    left: 100%;
    opacity: 0;
  }
  20% {
    left: 80%;
    opacity: 0;
  }
  40%,
  60% {
    left: 50%;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}